h1 {
  margin: 5px 10px;
}

.demo-img {
  border-radius: 10px;
  margin: 5px 10px;
  box-shadow: 3px 3px rgba(0,0,0,.4);
}
.demo-group {
  position: absolute;
  left: 0;
  top: 0;
  margin: 20px auto;
  width: 100%;
  text-align: center;
}
.group {
  margin: 20px auto;
}

.group img{
  max-width: 150px;
  max-height: 150px;
}