@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf') format('truetype'),
  url('../fonts/icomoon.woff') format('woff'),
  url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
  content: "\e603";
}
.icon-spinner:before {
  content: "\e602";
}
.icon-arrow-with-circle-right:before {
  content: "\e601";
}
.icon-arrow-with-circle-left:before {
  content: "\e600";
}


#lightbox-mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  filter: alpha(opacity=50%);
  z-index:1;
  display: none;
}
#lightbox-popup {
  position: fixed;
  left: 50%;
  top: 15%;
  right: 50%;
  height: 0;
  margin-left: -25%;
  margin-right: -25%;
  background-color: #9c0;
  z-index: 2;
  display: none;
}
.lightbox-pic-view {
  position: relative;
  border: 5px solid #fff;
  border-radius: 5px;
  overflow: hidden;
  display: block;
}
.lightbox-btn {
  position: absolute;
  top: 0;
  width: 30%;
  height: 100%;
  padding-top: 30%;
  z-index: 3;
  font-size: 50px;
  cursor: pointer;
  color: #fff;
}
.lightbox-prev-btn {
  left: 0;
}
.lightbox-next-btn {
  text-align: right;
  right: 0;
}

.lightbox-pic-caption {
  position: relative;
  top: -80px;
  margin: 0 10px;
  background-color: #2196F3;
  border-radius: 5px;
}

.lightbox-caption-area {
  padding: 10px 10px;
  color: #fff;
}

.lightbox-caption-area>span:first-child {
  display: block;
  margin-bottom: 6px;
  font-size: 22px;
}

.lightbox-index {
  color: #fff;
}

.lightbox-close-btn {
  position: absolute;
  right: 0;
  top: 12px;
  margin: 10px;
  cursor: pointer;
  z-index: 4;
}

.icon-cross {
  font-size: 20px;
  color: #fff;
}
.disabled {
  display: none;
}








